<!DOCTYPE HTML>
<html>
<head>
    <% include header.ejs %>
</head>
<body>
<div class="page-header">
    <h1>Chamber Driver
        <small>파일 저장 공간</small>
    </h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div id="sidebar">
                <div>
                    <h3><%= chamber[0].chamber_name %></h3>
                    <p><%= chamber[0].chamber_des %></p>
                </div>
                <hr/>
                <p><b>현재 유저들</b>
                    <%
                    for(var i = 0;i < users.length;i++){
                    %>
                    <br>
                    <%= users[i].user_nickname %>
                    <%
                    }
                    %>
                </p>
            </div>
        </div>

        <div class="col-md-8">
            <table class="border--round table--alternate-row">
                <thead>
                <tr>
                    <th>이름</th>
                    <th>날짜</th>
                    <th>파일크기</th>
                </tr>
                </thead>
                <tbody>
                <%
                    console.log('----:'+filelist.length);
                for(var i = 0;i < filelist.length;i++){
                %>
                <tr>
                    <td><%= filelist[i].Key %> </td>
                    <td><%= filelist[i].LastModified %></td>
                    <td><%= filelist[i].Size %></td>
                </tr>
                <%
                }
                %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>

<% include ../footer.ejs %>

</body>
</html>
