<!DOCTYPE HTML>
<html>
<head>
    <% include header.ejs %>
</head>
<body>
<div class="page-header">
    <h1>Chamber newMember
        <small>체임버에 초대할 사람의 이메일 입력</small>
    </h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div id="sidebar">
                <div>
                    <h3><%= chamber[0].chamber_name %></h3>
                    <p><%= chamber[0].chamber_des %></p>
                </div>
                <hr/>
                <p><b>현재 유저들</b>
                    <%
                    for(var i = 0;i < users.length;i++){
                    %>
                    <br>
                    <%= users[i].user_nickname %>
                    <%
                    }
                    %>
                </p>
                <p><b>초대 유저</b>
                    <%
                    for(var i = 0;i < invitations.length;i++){
                    %>
                    <br>
                    <%= invitations[i].user_invitation %>
                    <%
                    }
                    %>
                </p>
            </div>
        </div>

        <div class="col-md-8">
            <form action="/chamber/room/<%= chamber[0].chamber_id %>/new" method="post" id="newChamberMemForm"
                  class="container 50%">
                초대할 유저
                <div class="6u 12u$(xsmall)">
                    페이스북 or 구글 로그인 이메일:
                    <input type="email" name="newMember" placeholder="Email" id="email" required><br/>
                </div>
                <div class="4u$ 12u$(xsmall)">
                    <input type="submit" value="초대하기">
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<% include ../footer.ejs %>

</body>
</html>
