<!DOCTYPE HTML>
<html lang="kr">
<head>
    <% include ../header.ejs %>
</head>

<body class=" " data-smooth-scroll-offset='180'>
    <a id="start"></a>

    <% if (profile != undefined) { %>
    <!-- Navigation Bar Start -->
    <div class="nav-container ">

        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2">
                        <a href="/">
                            <img class="logo logo-dark" alt="logo" src="/img/logo-dark.png" />
                            <img class="logo logo-light" alt="logo" src="/img/logo-light.png" />
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <nav id="menu1" class="bar bar-2 hidden-xs bar--absolute" data-scroll-class='90vh:pos-fixed'>
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 hidden-xs">
                        <div class="bar__module">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="/img/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="/img/logo-light.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="/user/profile">
                                        <span class="btn__text">
                                            Edit Profile
                                        </span>
                            </a>
                            <a class="btn btn--sm btn--primary type--uppercase" href="/api/logout">
                                        <span class="btn__text">
                                            Sign Out
                                        </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </div>
    <!-- Navigation Bar End -->
    <% } else { %> window.location.href = '/'; <% } %>

    <!-- Main Page Start -->
    <div class="main-container">
        <!-- Heading Start -->
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8">
                        <br>
                        <h2>Hello, <%= profile[0].user_nickname %>!<br>Here's your Chamber List.</h2>
                        <p class="lead">
                            시공간을 뛰어넘는 마법의 회의실을 지금 바로 시작해보세요.<br>
                            아래 버튼을 눌러 팀만의 Magical Chamber를 생성하세요!
                        </p>
                        <a class="btn btn--primary type--uppercase" href="newchamber">
                            <span class="btn__text">
                                Create New Chamber
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Heading End -->

        <!-- Chamber List Start-->
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-block">
                            <h3>Participating Chamber</h3>
                        </div>
                    </div>
                    <% for ( var i = chambers.length-1; i >= 0; i-- ) { %>
                    <div class="col-sm-4">
                        <div class="feature feature-4 boxed boxed--border">
                            <% if (chambers[i].chamber_leader == profile[0].user_id) { %>
                                <span class="label">Owner</span>
                            <% } %>
                            <h4><%= chambers[i].chamber_name %></h4>
                            <hr>
                            <p><%= chambers[i].chamber_des %></p>
                            <!--
                            <hr class="short">
                            <%# for (var j = 0; j < relations.length; j++) { %>
                                <p><%#= relations[j].user_nickname %></p>
                            <%# } %>
                            -->
                            <a class="btn btn--primary" href="/chamber/<%= chambers[i].chamber_id %>/">
                                <span class="btn__text">Go into this Chamber!</span>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        <!-- Chamber List End -->

        <!-- Invited Chamber Start -->
        <% if ( invitations.length != 0 ) { %>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-block">
                            <h3>Invited Chamber</h3>
                        </div>
                    </div>
                    <table class="border--round table--alternate-row">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Allow</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var k = 0; k < invitations.length; k++){ %>
                        <tr>
                            <td><%= invitations[k].chamber_name %></td>
                            <td><%= invitations[k].chamber_des %></td>
                            <td><form action="/chamber/<%= invitations[k].chamber_id %>/allow" method="post">
                                    <button class="btn btn--primary" type="submit">수락하기</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>
        </section>
        <!-- Invited Chamber End-->

        <% include ../footer.ejs %>

    </div>
    <!-- Main Page End -->

</body>

</html>