<!DOCTYPE HTML>
<html>
<head>
    <% include header.ejs %>
</head>

<body>
<div class="container">
    <b>초대 챔버</b>
    <div class="row">
        <div class="col-sm-3">
            <%
            for(var i = 0;i < invitations.length;i++){
            %>
            <div class="panel panel-default">
                <div class="panel-heading"><%= invitations[i].chamber_name %> </div>
                <div class="panel-body"><%= invitations[i].chamber_des %>
                    <form action="/chamber/<%= invitations[i].chamber_id %>/allow" method="post">
                        <button type="submit">수락하기</button>
                    </form>
                </div>
            </div>
            <%
            }
            %>
        </div>
    </div>
    <b>현재 챔버</b>
    <div class="row">
        <div class="col-sm-3">

            <div class="panel panel-default">
                <div class="panel-heading"><a href="/user/newchamber">New Chamber</a></div>
                <div class="panel-body">새로운 체임버 만들기</div>
            </div>
            <%
            for(var i = 0;i < chambers.length;i++){
            %>
            <div class="panel panel-default">
                <div class="panel-heading"><a
                            href="/chamber/<%= chambers[i].chamber_id %>"><%= chambers[i].chamber_name %></a></div>
                <div class="panel-body"><%= chambers[i].chamber_des %></div>
            </div>
            <%
            }
            %>
        </div>
    </div>
</div>

<% include ../footer.ejs %>
</body>
</html>
